#map {
	min-height: 496px;
	
}


.navbar{
	margin-bottom: 10px;
}

/* .footer{
	position: fixed;
  right: 0; 
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
} */

.dealhead{
	color: rgb(165, 0, 100);
	font-weight: bold;
}

.headtext{
	text-shadow: 2px 2px black;
}

.red .active a,
.red .active a:hover {
	background-color: rgb(165, 0, 100) !important;
	color: white !important;
	font-weight: bold;
	font-size: 18px;
	border-radius: 0px 20px 20px 0px;
}

.nav-link{
	color: rgb(92, 92, 92);
	font-size: 16px;
}

.contactus{
	color: white;
}

a:visited {
	color: white;
}


html { 
	height: 100%; 
	} 
	body { 
	position: relative; 
	min-height: 100%; 
	} 
	.footer {
	position: fixed;
	bottom: 0;
	background-color: gray;
	}