@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

#map {
	min-height: 496px;
	
}

#click-me{
	position: absolute;
	z-index: 100;
}

td{
	text-align: center;
}


.navbar{
	margin-bottom: 10px;
}

a {
	color: hotpink;
}

a:visited {
	color: hotpink;
}

/* .footer{
	position: fixed;
  right: 0; 
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
} */

.dealhead{
	color: rgb(165, 0, 100);
	font-weight: bold;
}

.headtext{
	text-shadow: 2px 2px black;
}

.subtext{
	font-family: 'Great Vibes', cursive;
	text-shadow: 1px 1px black;
	font-size: 37px;
	line-height: 1;

}

.red .active a,
.red .active a:hover {
	background-color: rgb(165, 0, 100) !important;
	color: white !important;
	font-weight: bold;
	font-size: 18px;
	border-radius: 0px 20px 20px 0px;
}

.nav-link{
	color: rgb(92, 92, 92);
	font-size: 16px;
}

.contactus{
	color: white;
}

.jumbotron{
	background-color: white !important;
}

.mobile-only{
	display: none;
}

html { 
	height: 100%; 
	} 
	body { 
	position: relative; 
	min-height: 100%; 
	} 
	.footer {
	position: fixed;
	bottom: 0;
	background-color: gray;
	}

	.dealer-name{
		cursor: pointer;
	}

	.dealer-name:hover{
		background-color: #a50064;
		color: white;
		/* font-weight: bold; */
	}

	@media (max-width: 600px) {
		.desktop-only{
			display: none;
		}

		.mobile-only{
			display: block;
		}
	}